/* Roboto font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-family: roboto;
}

.nameFormElement {
  margin-bottom: 8px;
}

#userName {
  margin-left: 8px;
}

.clickable {
  color: #3388ff;
}

/* Allow map to fit whole screen */
.leaflet-container {
  grid-column: span 7;
}

/* Grid classes */
#mapGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

@media (min-height:400px) {
  #mapGrid { grid-auto-rows: 400px; }
}

@media (min-height:600px) {
  #mapGrid { grid-auto-rows: 600px; }
}

@media (min-height:700px) {
  #mapGrid { grid-auto-rows: 700px; }
}

@media (min-height:900px) {
  #mapGrid { grid-auto-rows: 900px; }
}

#routeUi {
  grid-column: span 2;
  overflow-y: auto; /* allows scroll bar */
}

.segRow {
  display: flex;
  flex-direction: row;
}

/* Collapsible selectors */
/* Join the two selectors to hide checkboxes for collapsibles */
input[type='checkbox'].toggle {
  display: none;
}

.lbl-toggle {
  display: block;
  padding: 0.5rem 0.2rem 0.2rem 0.5rem;
  cursor: pointer;
  transition: all 0.25s ease-out;
  
  font-size: 18px;
  font-weight: 600;
}

.lbl-toggle:hover {
  color: #3388ff;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
