/* Roboto font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-family: roboto;
}

/* Allow map to fit whole screen */
.leaflet-container {
  grid-column: span 6;
}

/* Grid classes */
#mapGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

@media (min-height:400px) {
  #mapGrid { grid-auto-rows: 400px; }
}

@media (min-height:600px) {
  #mapGrid { grid-auto-rows: 600px; }
}

@media (min-height:700px) {
  #mapGrid { grid-auto-rows: 700px; }
}

@media (min-height:900px) {
  #mapGrid { grid-auto-rows: 900px; }
}

#routeUi {
  grid-column: span 2;
  overflow-y: auto; /* allows scroll bar */
}
